.app-wrapper {
    display: grid;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    grid-template-areas:
      "h h"
      "n c";
  
    grid-template-rows: 70px 1fr;
    grid-template-columns:2fr 10fr;

 position: absolute;
 top: 0px;
 left: 0; 
 width: 100%;
 /* height: 100000px;  */
 /* background-color:#b9cbe8; */
 /* background-image:url(Login/logo/earth-3866609.jpg); */
 background-size: cover;
 overflow: 'hidden',
}
.app-wrapper-content {
    grid-area:c;
    background-color: #6787b9;
    margin-top: 30px;
    width: 750px;
    border-radius: 25px;
    
}
